
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
cycler==0.10.0
Django==2.2.6
folium==0.8.2
ghostscript==0.6
github3.py==1.3.0
google-api-core==1.14.3
google-auth==1.7.0
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.21.0
google-cloud-core==1.0.3
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
idna==2.8
Jinja2==2.10
jwcrypto==0.6.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
nltk==3.4.5
numpy==1.16.2
oauthlib==3.1.0
pandas==0.25.3
pandas-gbq==0.11.0
Pillow==6.2.0
protobuf==3.10.0
py4j==0.10.7
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
pydata-google-auth==0.1.3
pyparsing==2.4.5
pyspark==2.4.4
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
requests==2.21.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.12.0
SpeechRecognition==3.8.1
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.24.1
vaderSentiment==3.2.1
virtualenv==16.7.7
tensorflow==2.0.0